:host {
  display: inline-block;
}
button {
  background-color: var(--grf-color-primary);
  color: var(--grf-clr-text-main);
  padding: 8px 16px;
  border: none;
  border-radius: var(--grf-border-radius-md);
  cursor: pointer;
  font-family: var(--grf-font-family);
  font-size: var(--grf-font-size-small);
  transition: var(--grf-transition-std);
}
button:hover {
  box-shadow: var(--grf-glow-primary);
  filter: brightness(1.2);
}
